.contact-list {
    display: flex;
    font-weight: 500;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--content-txt);
    cursor: pointer;
}

.contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--content-txt);
    transition: color var(--anim);
}