.hero__title {
  margin-bottom: 25px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark-theme-txt);

  @media screen and (min-width: 1200px) {
    font-size: 33px;
    line-height: 1.36;
  }
}
