body {
    font-family: var(--main-font), sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-theme-txt);
    
     &.no-scroll {
     overflow: hidden;
        }
   
}