.advantages__list {
    display: flex;
}

.advantages__item {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
        }
}

.advantages__title {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-theme-txt);

}

.advantages__content {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--content-txt);
}

.advantages__icon-wr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--light-theme-bg);
    border-radius: 4px;
}