.clients__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
    padding-inline-start: 0;

    
}

.client__item {
 
    margin-bottom: 30px;
    
    @media screen and (max-width:767px) {
        margin-right: 30px;
        &:nth-child(2n),
        &:nth-child(4n),
        &:nth-child(6n) {
            margin-right: 0;
        }

    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        margin-right: 30px;
    
        &:nth-child(3n),
        &:nth-child(6n) {
            margin-right: 0;
            }
    
    }
                
    @media screen and (min-width:1200px) {
        
        &:not(:last-child)
         {
             margin-right: 30px;
            }
        
    }

}

.client__link {
    display: flex;
    width: 210px;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: border var(--anim);

    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
        }
    @media screen and (min-width:768px) {
        width: 226px;
        
    }  
    @media screen and (min-width:1200px) {
        width: 170px;
    
        }


}

.client__icon {
    fill: var(--icon-color);
    transition: fill var(--anim);
}



.client__link:hover .client__icon.icon,
.client__link:focus .client__icon.icon {
    fill: var(--accent-color);
}