.team__list {
    display: flex;
    flex-wrap: wrap;

}


.team__name-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--light-theme-txt);
    margin-bottom: 10px;

}

.team__prof {

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--content-txt);
    margin-bottom: 16px;
}

.team__box {
    background-color: var(--white-theme-bg);
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team__box-item {
    
    
    margin-bottom: 30px;

    @media screen and (min-width:768px){
        margin-right: 30px;
        &:nth-child(2n),
        &:nth-child(4n) {
            margin-right: 0;
        }
        
    }

    @media screen and (min-width:1200px) {
         
    
        &:not(:last-child) {
            margin-right: 30px;;
            }
    
        }

}


.team__section {
    background-color: var(--light-theme-bg);
}

.team__thumb {
    padding: 30px 0;
}

.team__icons-list {
    padding-inline-start: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;

}
.team__icons-item:not(:last-child) {
    margin-right: 10px;

}



.team__icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-theme-bg);
    color: var(--icon-color);
    transition: color var(--anim), background-color var(--anim);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--dark-theme-txt);
    
    
        }
}



.team__icon {

    fill: currentColor;

    &:hover,
    &:focus {
        fill: var(--dark-theme-txt);
        }

}

